//Variables
$color1 : #5556aa;
$color2: #3CCF4E;
$color3: #ffffff;
$color4: #002B5B;
$color5: #5a76c5;
$color6: #acf0ed;
$color7: #03045E;
$color8: #74e781;
$color9: #0f0f0f;
$tipoletra:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;